/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* BODY */
body{
    background:linear-gradient(to bottom,#2b1055,#7597de);
    color:white;
    overflow-x:hidden;
    text-align:center;
}

/* 🔥 MAIN CONTENT HIDDEN INITIALLY */
#mainContent{
    opacity:0;
    display:block;
    transition:opacity 1s ease;
}

/* HERO */
.hero{
    padding:100px 20px;
}

.hero h1{
    font-size:3.5rem;
    margin-bottom:10px;
}

.subtitle{
    margin-bottom:30px;
    font-weight:300;
}

/* LOVE LETTER */
.love-letter{
    max-width:800px;
    margin:auto;
    line-height:1.9;
    background:rgba(255,255,255,0.08);
    padding:30px;
    border-radius:20px;
}

/* BUTTON */
button{
    margin-top:30px;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:white;
    color:#6a0dad;
    cursor:pointer;
    font-size:1rem;
}

/* HIDDEN */
.hidden{
    display:none;
}

/* GALLERY */
.gallery{
    padding:80px 20px;
}

.photos{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.photo-card{
    width:250px;
}

.photo-card img{
    width:100%;
    height:320px;
    object-fit:cover;
    border-radius:20px;
}

/* VIDEO */
.video-section{
    padding:80px 20px;
}

video{
    width:80%;
    max-width:800px;
    border-radius:20px;
}

/* HEART */
.big-heart{
    font-size:6rem;
    margin:40px 0;
    animation:pulse 1.5s infinite;
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    100%{transform:scale(1);}
}

/* SONG */
.special-song{
    margin-top:60px;
}

.music-btn{
    padding:18px 30px;
    border:none;
    border-radius:40px;
    background:#b57aff;
    color:white;
    cursor:pointer;
}

.hidden-song{
    display:none;
    margin-top:20px;
}

/* NETFLIX INTRO */
#netflixIntro{
    position:fixed;
    width:100%;
    height:100vh;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
    opacity:1;
    transition:opacity 1s ease;
}

.netflix-text{
    color:#c084fc;
    font-size:3rem;
    letter-spacing:5px;
    animation:zoom 2.5s ease;
}

@keyframes zoom{
    from{transform:scale(0.5);opacity:0;}
    to{transform:scale(1.1);opacity:1;}
}

/* GLASS TEXT */
.glow-text b{
    font-size:1.8rem;
    color:white;
    text-shadow:0 0 10px #b57aff,0 0 20px #b57aff;
}
